#alerts .alert:last-child {
    margin-bottom:0;
}

.text-error-script-id {
    font-family:monospace;
    font-size:1rem;
}
.header-bar {
    margin:0;
    height:50px;
    box-shadow: 0 5px 10px 0 #CCC;
}
.header-bar-content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main {
}
.main-content {
    top: 50px;
    padding: 0 0 50px;
}
.footer-bar {
    margin:0;
    height:50px;
    box-shadow: 0 -5px 10px 0 #CCC;
}
.footer-bar-content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

table.script-table thead {
    cursor:pointer;
}

table.script-table td, table.script-table th {
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.script-table td:first-child, table.script-table th:first-child {
    padding-left:15px;
}

table.script-table td:last-child, table.script-table th:last-child {
    padding-right:15px;
}

.script-heading-row {
    cursor:pointer;
}

#script-container table:last-child {
    margin-bottom:50px;
}
